

body {
    padding: 0;
    margin: 0;
    background-color: #313131;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

#tp {
    margin-top: 30px;
}

a {
  text-decoration: none;
}


         
#bt {
    background-color: black;
    border: 2px solid #00DBDE;
    margin: 10px;
    padding: 15px 45px; /*para dar tamanho ao butao */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    text-decoration: none;
    margin: auto;
  }

  #bt:hover {
    background-color: #00DBDE;
    border: 2px solid black;
    color: black;
  }



  #bt2 {
    background-color: black;
    border: 2px solid #00DBDE;
    margin: 10px;
    padding: 15px 45px; /*para dar tamanho ao butao */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
  }

  #bt2:hover {
    background-color: #00DBDE;
    border: 2px solid black;
    color: black;
  }


  #bt3 {
    background-color: black;
    border: 2px solid #00DBDE;
    margin: 10px;
    padding: 15px 45px; /*para dar tamanho ao butao */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
  }

  #bt3:hover {
    background-color: #00DBDE;
    border: 2px solid black;
    color: black;
  }

  .login {
    margin-top: 25%;
  }
  

  .log {
    background-color: black;
    border: 2px solid #00DBDE ;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 1em;
    color: #00DBDE;
    text-align: center;
    justify-content: center;
  }

  input[type = password] {
    margin-top: 25px;
  }

  .log::placeholder {
    color: #00DBDE;
    text-align: center;
  }

  .log:focus::placeholder {
       font-size: 0.6em;
       position: relative;
       bottom: 30%;
       right: 20%;
      }

      .submit {
        width: 75px;
        height: 30px;
        border-radius: 50px;
        margin-top: 20px;
        background-color: aqua;
        border: 2px solid black;
      }
      
      #tsub {
        position: absolute;
        margin-top: -7px;
        margin-left: 13px;
      }

      .submit:hover , #tsub:hover {
        background: black;
        border-color: #00DBDE;
        color: white;
      }

      #hello {
        width: 100px;
        height: 100px;
        background-color: white;
        left: 80%;
        position: absolute;
        top: 25px;
        border-radius: 40px;
        padding: 15px;
        text-align: center;
        justify-content: center;
        transition-duration: 0.5s;
      }

      #userpic {
        width: 70px;
        height: 70px;
        border-radius: 100%;
      }

      #hello:hover {
        color: white;
        background-color: black;
        transform: translateY(-20%);
      }

      #perfil {
        text-decoration: none;
        color: black;
      }

      #logtxt {
        position: absolute;
        left: 40%;
        margin-top: -100px;
      }