* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #313131;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
}

#titulo {
    margin-top: 25px;
}

#homeimg {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 15px;
 }

 #homeimg:hover {
    background-color: white;
    transform: translateY(-20%);
 }

 img#imgbt {
   width: 35px;
   height: 35px;
   position: relative;
   top: 7%;
 }

 #credito {
    margin-top: 40px;
 }

   #insta {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    transition-duration: 0.3s;
    margin-top: 50px;
   }

   #insta:hover {
    background-color: rgb(79,79,195);
    transform: translateY(-15%);
  }

  #github {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 55px;
    transition-duration: 0.3s;
    margin-top: 50px;
   }

   #github:hover {
    background-color: rgb(79,79,195);
    transform: translateY(-15%);
  }